@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// fonts
$curvef : 'Josefin Sans', sans-serif;
$cursivef : 'Licorice', cursive;
$mainf : 'Poppins', sans-serif;
$montf : 'Montserrat', sans-serif;

//colors
$col1 : #1a1a1d;
$col2 : #2A2B2DFF;
$col3 : #184A45FF;
$col4 : #175337;
$col5 : #2C5F2D;
$col6 : #97BC62FF;