@import './variable';

body 
{
    margin: 0px;
    padding: 0px;
    font-family: $mainf;
    background-image: url('assets/images/tree-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: $mainf;
    color: white;
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: rgba($color: black, $alpha: .6);
}

.list ul li
{
    display: inline-block;
    margin: 0px 30px;
    transition: all 0.3s ease-in-out 0s;

    &:hover
    {
        color: grey;
        cursor: pointer;
    }

    span 
    {
        border: solid 1px $col3;
        padding: 10px 30px;
        border-radius: 10px;
        transition: all 0.3s ease 0s;

        &:hover
        {
            background-color: $col3;
            color: white;
            border-color: $col3;
            box-shadow: 0px 0px 10px $col3;
        }
    }
}

.logo
{
    font-size: 35px;
    letter-spacing: 2px;
    font-family: $montf;
    text-shadow: 1px 1px 2px black;

    &-web
    {
        background-color: $col3;
        padding: 5px 0px;
        padding-left: 60px;
        font-size: 37px;
        font-weight: 500;
    }

    &-kers
    {
        color: $col3;
        font-weight: bold;
    }
}

.burger
{
    display: none;
}

.burger:hover
{
    cursor: pointer;
}

.bur
{
    width: 25px;
    height: 4px;
    background-color: $col3;
    margin: 4px 0px;
}

@media (max-width: 1200px)
{

    body 
    {
        overflow-x: hidden;
    }

    .burger
    {
        display: block;
    }

    .list ul
    {
        position: absolute;
        // left: 0;
        top: 115px;
        height: 360px;
        right: 0;
        background-color: $col3;
        width: 200px;
    }

    .list ul li 
    {
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 50px 0px;

        span
        {
            padding: 0px;
            border: none;

            &:hover
            {
                background-color: $col3;
                box-shadow: none;
                color: grey;
            }
        }
    }

    .list-links
    {
        transform: translateX(160%);
    }

    .toggle
    {
        transform: translateX(0);
        animation: change forwards;
        animation-duration: .8s;
    }

    @keyframes change
    {
        from 
        {
            opacity: 0;
            transform: translateX(50%);
        }
        to 
        {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @media (max-width:600px)
    {
        .logo
        {
            font-size: 25px;
        
            &-web
            {
                background-color: $col3;
                padding: 5px 0px;
                padding-left: 60px;
                font-size: 27px;
                font-weight: 500;
            }
        
            &-kers
            {
                color: $col3;
                font-weight: bold;
            }
        }
        
        .bur
        {   
            width: 22px;
            height: 3px;
            background-color: $col3;
            margin: 4px 0px;
        }
    }
}